{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8" />
		<title>KRYPTOCOIN - Bitcoin Trading Platform</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'images/favicon1.png' %}">

		<!-- Template CSS Files -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/skins/orange.css' %}">

		<!-- Live Style Switcher - demo only -->
		<link rel="alternate stylesheet" type="text/css" title="orange" href="{% static 'css/skins/orange.css' %}" />
		<link rel="alternate stylesheet" type="text/css" title="green" href="{% static 'css/skins/green.css' %}" />
		<link rel="alternate stylesheet" type="text/css" title="blue" href="{% static 'css/skins/blue.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleswitcher.css' %}" />

		<!-- Template JS Files -->
		<script src="{% static 'js/modernizr.js' %}"></script>

	</head>

	<body>
		{% include 'layouts/loader.html' %}
		<div class="wrapper">
			{% if not hide_layout %}
            	{% include 'layouts/header.html' %}
        	{% endif %}

			{% block content %}
			{% endblock %}
		
			{% if not hide_layout %}
            	{% include 'layouts/footer.html' %}
        	{% endif %}

			<!-- Template JS Files -->
			<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
			<script src="{% static 'js/select2.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'js/custom.js' %}"></script>

			<!-- Live Style Switcher JS File - only demo -->
			<script src="{% static 'js/styleswitcher.js' %}"></script>

			{% block extra_css %}{% endblock %}
			{% block extra_js %}{% endblock %}
		</div>
   </body>
</html>